USE [master]
GO
/****** Object:  Database [EmployeeDB]    Script Date: 2021/6/22 下午 11:45:35 ******/
CREATE DATABASE [EmployeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'C:\Users\user\EmployeeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'C:\Users\user\EmployeeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDB]
GO
USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[DEP]    Script Date: 2021/6/22 下午 11:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEP](
	[DEP_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEP_NAME] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2021/6/22 下午 11:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](500) NULL,
	[DEP] [varchar](500) NULL,
	[HRD] [date] NULL,
	[PHOTO_FILE] [varchar](500) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEP] ON 

INSERT [dbo].[DEP] ([DEP_ID], [DEP_NAME]) VALUES (1, N'IT')
INSERT [dbo].[DEP] ([DEP_ID], [DEP_NAME]) VALUES (2, N'RD')
INSERT [dbo].[DEP] ([DEP_ID], [DEP_NAME]) VALUES (3, N'HR')
SET IDENTITY_INSERT [dbo].[DEP] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [DEP], [HRD], [PHOTO_FILE]) VALUES (1, N'SAM', N'MD', CAST(N'2020-06-01' AS Date), N'anonymous.svg')
INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [DEP], [HRD], [PHOTO_FILE]) VALUES (2, N'BOB', N'SD', CAST(N'2019-04-01' AS Date), N'piece1.jpg')
INSERT [dbo].[EMPLOYEE] ([ID], [NAME], [DEP], [HRD], [PHOTO_FILE]) VALUES (3, N'GINA', N'HR', CAST(N'2018-03-27' AS Date), N'piece2.jpg')
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
USE [master]
GO
